{
  "plugins": [
    "eslint-plugin-import",
    "eslint-plugin-react",
    "eslint-plugin-jsx-a11y",
    "eslint-plugin-jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jest/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  }
}
