name: docker-compose-e2e

on: [pull_request]

jobs:
  run-e2e:
    strategy:
      matrix:
        instances: ["instance-1:wp-test.spec.js"]

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup npm cache
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci
        env:
          CI: true

      - name: Run e2e tests
        run: npm run e2e-wp-test ${{ matrix.instances }}
