name: lighthouse

on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Setup npm cache
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Deploy to now
        run: npx lerna run now --parallel
        env:
          NOW_TOKEN: ${{ secrets.NOW_TOKEN }}

  lighthouse:
    runs-on: ubuntu-latest
    needs: deploy

    steps:
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v2
        with:
          runs: 3
          temporaryPublicStorage: true
          urls: |
            https://mars-theme-frontity.worona.now.sh/
            https://mars-theme-frontity.worona.now.sh/2016/the-beauties-of-gullfoss/
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
